@use "../../styles/colors";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');

.headerAuctionBox {
    margin-bottom: 1.2rem;

    .auctionHeading {
        margin: 0;
        font-size: 3rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        color: colors.$text_primary;
    }

    .formAuctionControl {
        width: 220px;
        border: none;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        color: colors.$text_secondary;
    }
}