@use "../../styles/colors";

.stepGrid {
    background-color: colors.$background_paper;
    border-radius: 30px;
    padding: 0;

    .stepNumber {
        margin: 0;
        background-color: rgba(78, 36, 242, .1);
        font-weight: 700;
        font-size: 100.33px;
        line-height: 215px;
        text-align: center;
        border-radius: 30px 0px 0px 30px;
    }

    .stepTextContent {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        .stepTitle {
            font-weight: 700;
            size: 32px;
            text-transform: uppercase;
            color: colors.$text_primary;
        }

        .stepDescription {
            font-weight: 400;
            size: 24px;
            color: colors.$text_secondary;
            margin-top: 0;
        }
    }
}
